<!doctype html>
<html lang="en" ng-app="portfolio">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/ico" href="../resources/img/favicon.ico">
    <link rel="stylesheet" href="../resources/portfolio.css">
    <script type="text/javascript" src="../scripts/portifolio.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/assetController.js"></script>
    <title>Home | Crypto House</title>

</head>

<body>
    <div class="container" id="header">
        <header class="blog-header p-2">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1"></div>
                <div class="col-4 text-center">
                    <img src="../resources/img/dogelogo.png" height="100px">
                    <h3 class="blog-header-logo text-light mt-2" href="#">Crypto House</h3>
                </div>
                <div class="col-4">
                </div>
        </header>
        <div class="nav-scroller py-1 mb-2 headerColor position-sticky" style="top:1.5rem;">
            <nav class="nav d-flex justify-content-center">
                <a class="p-2 link-light" href="home.html">Home</a>
                <a class="p-2 link-light" href="#">Portfolio</a>
                <a class="p-2 link-light" href="chart.html">Live Chart</a>
            </nav>
        </div>
    </div>
    <div class="container" id="content">
        <div class="row" ng-controller="assetController">
            <div class="col-2">
                <h4>Assets</h4>
                <div ng-repeat="asset in assets">
                    <div class="row divHover" ng-click="showChart(asset.sign)">
                        <div class="col-3 m">
                            <img src={{asset.img_path}} height="45px" style="margin-top:2px;">
                        </div>
                        <div class="col-9">
                            <em class="currency">{{asset.currency}}</em>
                            <em class="sign">{{asset.sign}}</em>
                            <p>{{asset.current_price*asset.quantity | currency: 'USD '}}</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <a type="button" class="btn w-100 btn-secondary mb-3"
                            onclick="getChart('pnlChart')">Overview</a>
                        <div class="btn-group-vertical d-flex" role="group">
                            <a type="button" class="btn btn-outline-success w-100"
                                onclick="hideNetWorth('addAsset')">Add</a>
                            <a type="button" class="btn btn-outline-danger w-100"
                                onclick="hideNetWorth('removeAsset')">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 chartInterchange" id="netWorth" style="display:block;">
                <div id="pnl">
                    <h4>Net Worth</h4>
                    <h1>{{assets[0].current_price*assets[0].quantity+assets[1].current_price*assets[1].quantity+assets[2].current_price*assets[2].quantity+assets[3].current_price*assets[3].quantity+assets[4].current_price*assets[4].quantity+assets[5].current_price*assets[5].quantity | currency: 'USD '}}</h1>
                    <em class="pnl">{{100*37003.14/30000 - 100 | number: 2}} %</em>
                </div>
                <div id="pnlcoin" style="display:none;">
                    <h4>Net Worth {{assets[coin].currency}}</h4>
                    <h1 class="ng-class: {negativeUSD:((100*assets[coin].current_price * assets[coin].quantity/5000 - 100)<0)}">{{assets[coin].current_price * assets[coin].quantity | currency: 'USD '}}</h1>
                    <em class="pnl ng-class: {negative:((100*assets[coin].current_price * assets[coin].quantity/5000 - 100)<0)}">{{100*assets[coin].current_price * assets[coin].quantity/5000 - 100 | number: 2}}%</em>
                </div>
                <div class="border mt-3 chart" id="pnlChart" style="display:block;">
                    <img class="imgGraph" src="../resources/img/pnl_chart.jpeg">
                </div>
                <div class="border mt-3 chart" id="btcChart" style="display:none;">
                    <img class="imgGraph" src="../resources/img/btc_return.jpeg">
                </div>
                <div class="border mt-3 chart" id="ethChart" style="display:none;">
                    <img class="imgGraph" src="../resources/img/eth_return.jpeg">
                </div>
                <div class="border mt-3 chart" id="adaChart" style="display:none;">
                    <img class="imgGraph" src="../resources/img/ada_return.jpeg">
                </div>
                <div class="border mt-3 chart" id="bnbChart" style="display:none;">
                    <img class="imgGraph" src="../resources/img/bnb_return.jpeg">
                </div>
                <div class="border mt-3 chart" id="xrpChart" style="display:none;">
                    <img class="imgGraph" src="../resources/img/xrp_return.jpeg">
                </div>
                <div class="border mt-3 chart" id="dogeChart" style="display:none;">
                    <img class="imgGraph" src="../resources/img/doge_return.jpeg">
                </div>
            </div>
            <div class="col-10 chartInterchange" id="addAsset" style="display:none;">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-4 col-md-3 col-sm-1"></div>
                    <div class="col-lg-4 col-md-6 col-sm-10" id="loginDiv">
                        <h2>Add Asset</h2>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="currency" placeholder="Currency" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">USD</span>
                            <input type="text" class="form-control" id="avgPrice" placeholder="Average Price" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">QTY</span>
                            <input type="text" class="form-control" id="addQty" placeholder="Quantity" />
                        </div>
                        <div class="col-6 mx-auto gap-2 d-grid btn-group d-flex w-100">
                            <a class="btn btn-outline-secondary" type="button"
                                onclick="cancel('removeAsset')">Cancel</a>
                            <a class="btn btn-success w-50" type="button"
                                onclick="add(document.getElementById('avgPrice').value,document.getElementById('addQty').value)">Add</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-1"></div>
                </div>
            </div>
            <div class="col-10 chartInterchange" id="removeAsset" style="display:none;">
                <div class="row h-100 align-items-center">
                    <div class="col-lg-4 col-md-3 col-sm-1"></div>
                    <div class="col-lg-4 col-md-6 col-sm-10" id="loginDiv">
                        <h2>Remove Asset</h2>
                        <select class="form-select mb-3">
                            <option selected>Please select the asset to be removed</option>
                            <option value="BTC">Bitcoin</option>
                            <option value="ETH">Ethereum</option>
                            <option value="ADA">Cardano</option>
                            <option value="BNB">Binance Coin</option>
                            <option value="XRP">XRP</option>
                            <option value="DOGE">Dogecoin</option>
                        </select>
                        <div class="input-group mb-3">
                            <span class="input-group-text">QTY</span>
                            <input type="text" class="form-control" id="removeQty" placeholder="Quantity" />
                        </div>
                        <div class="col-6 mx-auto gap-2 d-grid btn-group d-flex w-100">
                            <a class="btn btn-outline-secondary" type="button"
                                onclick="cancel('removeAsset')">Cancel</a>
                            <a class="btn btn-danger w-50" type="button"
                                onclick="remove(document.getElementById('removeQty').value)">Remove</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="mt-5">
            <p class="footerColor">
                Developed by
                <a class="link-light" href="https://github.com/remor61" target="_blank" rel="noreferrer noopener">
                    Eduardo Remor.
                </a>
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>