body{
    background: #1e222d;
}

.row{
    min-height: 100vh;
}

#loginDiv{
    border: 2px solid #5c636a;
    background: #131722;
    padding: 15px;
    border-radius: 20px;
}

.btn{
    height: 38px;
}